@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-stone-100;
}

body {
  @apply bg-stone-100;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer base {
  html {
    font-family: "Josefin Sans", "Montserrat", sans-serif;
  }
}
.input-placeholder::placeholder {
  @apply text-brown;
}
.fc-event {
  --fc-event-bg-color: #81b35d;
  --fc-event-border-color: #81b35d;
  cursor: pointer;
}

.fc-event:hover {
  --fc-event-bg-color: #699748;
}

.fc-prev-button,
.fc-next-button {
  --fc-button-bg-color: #98816a;
  --fc-button-border-color: none;
  --fc-button-hover-bg-color: #76624f;
  --fc-button-hover-border-color: none;
}
.fc-daygrid-day-frame,
.fc-today-button {
  --fc-button-bg-color: #dac040;
  --fc-button-border-color: #dac040;
  --fc-button-hover-bg-color: #cd9a3c;
  --fc-button-hover-border-color: none;
}

.header-shadow {
  box-shadow: 10px 10px 5px gray;
}

.hashtag {
  border: 1px solid #1c1917;
  background-color: white;
}

.background-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h-screen-bg {
  height: calc(100vh - 80px);
}

.h-screen-bg-midle {
  height: calc(100vh - 160px);
}

.tab-border-left {
  border-radius: 8px 0px 0px 8px;
}
.tab-border-right {
  border-radius: 0px 8px 8px 0px;
}

.cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  z-index: 10;
}

.fc-event-time {
  display: none;
}

.search-friend {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.search-client {
  margin-top: 0.8rem;
  display: inline-block;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 5px;
}

.search-client:hover {
  background-color: #699748;
  color: white;
  border-radius: 10px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin 6s linear infinite;
}

.rotate-image {
  transform: rotate(10deg);
}

input[type="radio"] {
  margin-right: 10px;
}
